---
http_interactions:
- request:
    method: get
    uri: https://api.iugu.com/v1/customers/324A1CA97321401BB612AA680CFBA337
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MjkyOTJEQjY1NTM1M0EyNUYyMTFGRUQyRDRFMDgyN0ZDQzdFNTEzMjgxNTkwMzA1MkJCMTc4MTE1NjQ0NTFCMg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be6a3e7c64e0c853fc964fecfbe7e756"
      X-Cf-Block:
      - DEFAULT
      X-Handledby:
      - api/v1/customer#show
    body:
      encoding: ASCII-8BIT
      string: '{"id":"324A1CA97321401BB612AA680CFBA337","email":"usuario.bc5e03bf1647a3f2cff96b74f4d9659f@capim.com.br","name":"lionel
        messi","notes":null,"created_at":"2022-06-07T10:52:04-03:00","updated_at":"2022-06-07T10:52:04-03:00","cc_emails":null,"cpf_cnpj":"46630715039","zip_code":"15092-230","number":"564","complement":"","phone":"999751366","phone_prefix":"16","default_payment_method_id":null,"proxy_payments_from_customer_id":null,"city":"S\u00e3o
        Jos\u00e9 do Rio Preto","state":"SP","district":"Est\u00e2ncia Matinha","street":"Estrada
        Antonio Jos\u00e9 Martins Filho","custom_variables":[{"name":"user_id","value":"414"}],"payment_methods":[]}'
  recorded_at: Fri, 17 Jun 2022 16:05:57 GMT
recorded_with: VCR 6.1.0
