---
http_interactions:
- request:
    method: get
    uri: https://api.iugu.com/v1/invoices/1EDC9C2A32244F749ABBE1E9CF70AD3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MjkyOTJEQjY1NTM1M0EyNUYyMTFGRUQyRDRFMDgyN0ZDQzdFNTEzMjgxNTkwMzA1MkJCMTc4MTE1NjQ0NTFCMg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Handledby:
      - api/v1/invoice#show
      X-Cf-Block:
      - DEFAULT
      Etag:
      - W/"643801b1b90b8faadb94f487f20d3c11"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1EDC9C2A32244F749ABBE1E9CF70AD3E","due_date":"2024-11-15","currency":"BRL","discount_cents":null,"email":"usuario.bc5e03bf1647a3f2cff96b74f4d9659f@capim.com.br","items_total_cents":12332,"notification_url":null,"return_url":null,"status":"paid","tax_cents":null,"total_cents":12332,"total_paid_cents":12332,"taxes_paid_cents":155,"paid_at":"2022-06-07T13:23:35-03:00","paid_cents":12332,"cc_emails":null,"financial_return_date":null,"payable_with":["bank_slip","pix"],"overpaid_cents":null,"ignore_due_email":null,"ignore_canceled_email":null,"advance_fee_cents":null,"commission_cents":0,"early_payment_discount":false,"order_id":null,"updated_at":"2022-06-07T13:23:35-03:00","credit_card_brand":null,"credit_card_bin":null,"credit_card_last_4":null,"credit_card_captured_at":null,"credit_card_tid":null,"external_reference":null,"max_installments_value":null,"payer_name":"lionel
        messi","payer_email":"usuario.bc5e03bf1647a3f2cff96b74f4d9659f@capim.com.br","payer_cpf_cnpj":"46630715039","payer_phone":"999751366","payer_phone_prefix":"16","payer_address_zip_code":"15092-230","payer_address_street":"Estrada
        Antonio Jos\u00e9 Martins Filho","payer_address_district":"Est\u00e2ncia Matinha","payer_address_city":"S\u00e3o
        Jos\u00e9 do Rio Preto","payer_address_state":"SP","payer_address_number":"564","payer_address_complement":"","payer_address_country":null,"late_payment_fine":2,"late_payment_fine_cents":null,"split_id":null,"account_id":"B7749A93DF4E009A743696818111D372","account_name":"CAPIM
        TECNOLOGIA","secure_id":"1edc9c2a-3224-4f74-9abb-e1e9cf70ad3e-efdb","secure_url":"https://faturas.iugu.com/1edc9c2a-3224-4f74-9abb-e1e9cf70ad3e-efdb","customer_id":"324A1CA97321401BB612AA680CFBA337","customer_ref":"lionel
        messi","customer_name":"lionel messi","user_id":null,"total":"R$ 123,32","taxes_paid":"R$
        1,55","total_paid":"R$ 123,32","total_overpaid":"R$ 0,00","total_refunded":"R$
        0,00","commission":"R$ 0,00","fines_on_occurrence_day":"R$ 0,00","total_on_occurrence_day":"R$
        123,32","fines_on_occurrence_day_cents":0,"total_on_occurrence_day_cents":12332,"refunded_cents":0,"remaining_captured_cents":12332,"advance_fee":null,"paid":"R$
        123,32","original_payment_id":null,"double_payment_id":null,"per_day_interest":true,"per_day_interest_value":1,"interest":null,"discount":null,"duplicated_invoice_id":null,"created_at":"07/06,
        10:52","created_at_iso":"2022-06-07T10:52:55-03:00","authorized_at":null,"authorized_at_iso":null,"expired_at":null,"expired_at_iso":null,"refunded_at":null,"refunded_at_iso":null,"canceled_at":null,"canceled_at_iso":null,"protested_at":null,"protested_at_iso":null,"chargeback_at":null,"chargeback_at_iso":null,"occurrence_date":"2022-06-07","refundable":false,"installments":null,"transaction_number":1111,"payment_method":"iugu_bank_slip_test","financial_return_dates":null,"bank_slip":null,"pix":{"qrcode":"http://faturas.iugu.com/iugu_pix/1edc9c2a-3224-4f74-9abb-e1e9cf70ad3e-efdb/test/qr_code","qrcode_text":"http://faturas.iugu.com/iugu_pix/1edc9c2a-3224-4f74-9abb-e1e9cf70ad3e-efdb/test/pay","status":"qr_code_created","payer_cpf_cnpj":null,"payer_name":null,"end_to_end_id":null},"items":[{"id":"8D6FD17DC1D146C8A67138D26D78CCEC","description":"Parcelamento
        Capim","price_cents":12332,"quantity":1,"created_at":"2022-06-07T10:52:55-03:00","updated_at":"2022-06-07T10:52:55-03:00","price":"R$
        123,32"}],"early_payment_discounts":[],"split_rules":null,"variables":[{"variable":"payer.address.city","value":"S\u00e3o
        Jos\u00e9 do Rio Preto"},{"variable":"payer.address.city","value":"S\u00e3o
        Jos\u00e9 do Rio Preto"},{"variable":"payer.address.district","value":"Est\u00e2ncia
        Matinha"},{"variable":"payer.address.district","value":"Est\u00e2ncia Matinha"},{"variable":"payer.address.number","value":"564"},{"variable":"payer.address.number","value":"564"},{"variable":"payer.address.state","value":"SP"},{"variable":"payer.address.state","value":"SP"},{"variable":"payer.address.st[...]
